.App {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.color-grid {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.square-main {
    height: 100px;
    width: 100px;
    border: 1px solid black
}

.active {
    background-color: green;
}